.navbar {
    background-color: hsl(219, 50%, 15%);
    padding: 1rem 1.5rem;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    height: 3.5rem; 
  }
  
  .logo {
    color: white;
    font-weight: 500;
    font-size: 1.4rem;
    margin: 0;
  }
  
  .navbar-link {
    opacity: 0.8;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .navbar-link:hover {
    opacity: 1;
    transition: all 0.3s;
  }
  